* {
    box-sizing: border-box;
}

:root {
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --secondary-color-blue: #83a17d;
    --secondary-color-gray: #6a8383;
    --secondary-color-light-green: #e2eddf;
    --text-color-white: #fff;
    --text-color-black-gray: #575d5e;
    --text-color-light-gray: #7d8188;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

main {
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    padding: 0 20px;
    border-radius: 40px;
    border: 1.5px solid var(--primary-color-black-green);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 57px;
    color: #fff;
    background-color: var(--primary-color-black-green);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.section-title {
    color: var(--primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.section-title::before {
    content: "";
    position: relative;
    top: -6px;
    left: 0;
    display: inline-block;
    margin-right: 21px;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color-black);
}

/* Header */

.header {
    font-family: "Public Sans", sans-serif;
    padding: 28px 0 88px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
}

.navbar__list {
    display: flex;
    margin-left: 320px;
}

.navbar__item {
    padding: 10px 20px;
    cursor: pointer;
}

.navbar__link {
    position: relative;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar--active,
.navbar__item:hover .navbar__link {
    color: var(--text-color-black);
}

.navbar--active::after {
    position: absolute;
    bottom: -32px;
    left: 0;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
}

.header-line {
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.hero__title {
    width: 368px;
    height: 256px;
}

.hero__heading {
    margin-top: 43px;
    color: var(--primary-color-black);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.hero__watch-video {
    display: flex;
    align-items: center;
    margin-left: 43px;
    cursor: pointer;
}

.hero__watch-video:hover .hero__watch-video-text {
    color: var(--text-color-black);
}

.hero__watch-video:hover .hero__watch-video-button {
    transform: scale(1.1);
}

.hero__watch-video-button {
    position: relative;
    display: flex;
    transition: 0.25s;
}

.hero__watch-video-ellipse {
    position: absolute;
    top: -1px;
}

.hero__watch-video-play {
    padding: 7px;
}

.hero__watch-video-text {
    margin-left: 15px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    position: relative;
    margin-right: 25px;
    width: 646px;
    height: 543px;
    z-index: 0;
}

.hero__media::before {
    content: "";
    position: absolute;
    top: 122px;
    left: 156px;
    display: inline-block;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__images {
    display: flex;
    justify-content: space-between;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.header-extra {
    position: relative;
}

.extra-1,
.extra-2,
.extra-3,
.extra-4 {
    position: absolute;
}

.extra-1 {
    top: 99px;
    left: 297px;
}

.extra-2 {
    top: 107px;
    left: 255px;
}

.extra-3 {
    top: 400px;
    left: 500px;
}

.extra-4 {
    top: 632px;
    left: 1025px;
}

/* Brand */

.brand {
    padding: 42px 0;
}

.brand__background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 122px;
    width: 1140px;
    height: 201px;
    flex-shrink: 0;
    border-radius: 100.5px;
    background: var(--secondary-color-light-green);
}

.brand__item {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Service */

.service {
    padding: 64px 0;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
    height: 104px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.service__heading::after {
    content: "";
    position: relative;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color-black);
}

.service__action {
    display: flex;
    justify-content: center;
    column-gap: 17px;
    margin-top: 53px;
    margin-right: 73px;
}

.service__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: var(--secondary-color-light-green);
    color: var(--primary-color-black);
    cursor: pointer;
    transition: 0.25s;
}

.service__btn:hover {
    background: var(--primary-color-black-green);
    color: #ffffff;
}

.service__list {
    display: flex;
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    border-radius: 20px;
    border: 1px solid var(--secondary-color-light-green);
    cursor: pointer;
    transition: 0.25s;
}

.service-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__thumb {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__body {
    padding: 24px 18px;
}

.service-item__heading {
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    margin-top: 18px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
}

/* About */

.about {
    position: relative;
    padding: 84px 0 79px;
}

.about__row {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
}

.about__image {
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img:last-child {
    margin-top: 13px;
}

.about__heading {
    margin-top: 20px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.about__countdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    margin-top: 18px;
    padding: 20px 0;
    border-bottom: 1px solid #83a17d;
}

.countdown__percent {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.countdown__text {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.about-base {
    position: absolute;
    top: 502px;
    left: 647px;
    width: 143px;
    height: 144px;
    padding: 19px 17px 11px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.base__content {
    padding: 0 5px;
}

.base__heading {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.base__title {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.base__percent {
    margin-top: 10px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.base__percent-bar {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.base__percent-current {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.base__loading {
    margin-top: 3px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: end;
}

.base__dot {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    background-color: var(--primary-color-black-green);
    border: 3.5px solid #eaeaea;
    border-radius: 50%;
}

.base__teams-list {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 36px;
}

.base__teams {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.base__list {
    display: flex;
}

.base__member {
    width: 16px;
    height: 16px;
    margin-left: -6px;
    border-radius: 16px;
    border: 1px solid #fff;
    object-fit: cover;
}

.extra-5,
.extra-6 {
    position: absolute;
}

.extra-5 {
    top: 110px;
    left: 270px;
}

.extra-6 {
    top: 75px;
    left: 235px;
}

/* Process */

.process {
    padding: 48px 0;
}

.process__heading {
    margin-top: 12px;
    width: 520px;
    height: 104px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.process__heading::after {
    content: "";
    position: relative;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color-black);
}

.process__list {
    position: relative;
    margin-top: 81px;
}

.process__img {
    position: absolute;
    width: 450px;
    height: 444px;
    top: -255px;
    left: 598px;
}

.process__option {
    display: flex;
    align-items: center;
    height: 185px;
    padding: 46px 41px 23px 20px;
    border-top: 1px solid #83a17d;
    transition: 0.3s;
}

.process__option:last-child {
    border-bottom: 1px solid #83a17d;
}

.process__option:last-child:hover {
    border-bottom: 1px solid transparent;
}

.process__option:hover {
    border-top: 1px solid transparent;
    border-radius: 33px;
    background: var(--secondary-color-light-green);
}

.process__option:hover .process__option-more {
    opacity: 1;
}

.process__option:hover + .process__option {
    border-top: 1px solid transparent;
}

.process__option-number {
    width: 110px;
    color: var(--primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
    text-align: center;
}

.process__option-title {
    margin-left: 50px;
    color: var(--primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__option-more {
    margin-top: 22px;
    color: var(--text-color-black-gray);
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.process__option-desc {
    width: 572px;
    margin-left: auto;
    color: var(--text-color-light-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

/* Feature */

.feature {
    margin: 100px 0;
    padding: 116px 130px 63px;
    background-color: var(--primary-color-black-green);
}

.feature__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 93px;
}

.feature__heading {
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.feature__heading::after {
    content: "";
    position: relative;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #e7f9f9;
}

.feature__desc {
    color: var(--secondary-color-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.feature__action {
    display: flex;
    margin-top: 13px;
    column-gap: 26px;
    cursor: pointer;
}

.feature__action:hover {
    opacity: 0.8;
}

.feature__all {
    color: #fff;
    font-family: "Public Sans";
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.feature__media {
    position: relative;
    margin-top: 65px;
}

.feature__video {
    width: 100%;
    border-radius: 22px;
}

.feature__play-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Share */

.share {
    padding: 40px 0;
}

.share__heading {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-color-black);
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.share__desc {
    width: 547px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.share__list-card {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.share-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.share-card:hover {
    border: none;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
}

.card__heading {
    margin-top: 26px;
    color: var(--primary-color-black);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.card__desc {
    margin-top: 9px;
    padding: 20px;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
}

/* Blog */

.blog {
    padding: 40px 0;
    margin: 100px 0;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    margin-top: 12px;
    width: 600px;
    height: 104px;
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.blog__heading::after {
    content: "";
    position: relative;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: var(--primary-color-black);
}

.blog__desc {
    width: 409px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 105px;
}

.blog-item {
    height: 521px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color-light-green);
    cursor: pointer;
    transition: 0.25s;
}

.blog-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.blog-item__thumb {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.blog-item__body {
    position: relative;
    height: 205px;
    padding: 26px 30px 12px;
}

.blog-item__stories {
    width: 107px;
    height: 26px;
    padding: 7px 33px;
    border-radius: 20px;
    background: var(--secondary-color-light-green);
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog-item__heading {
    margin-top: 13px;
    color: var(--primary-color-black-green);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__date {
    position: absolute;
    bottom: 0;
    width: 310px;
    margin-top: 9px;
    padding-top: 15px;
    padding-bottom: 12px;
    border-top: 1px solid #c4c4c4;
    color: var(--text-color-black-gray);
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
